.btn {
  width: 100%;
  height: 4rem;
  outline: none;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 300;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(67, 56, 202, 0.2);
}

.is-command {
  background-color: #4338ca;
}
